<!DOCTYPE html>
<html>
	<head>
		<title>Manual for Pandas (%(filename)s)</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../style.css">
		<meta charset="utf-8">
	</head>

	<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 menu">
				<h3>
					MA-155 Manual for Pandas
				</h3>

				<hr>

				<nav class="list-group">
					<h4 class="list-group-item">Navigasjon</h4>
					%(menu)s
				</nav>

				<hr>

				<a href="../notebooks/%(filename)s" class="btn btn-primary btn-block">
					Last ned kapittel som notebook<br/>
					<small>(%(filename)s)</small>
				</a>
			</div>
			<section class="col-md-9 content">
				%(content)s
			</section>
		</div>

		<div class="row">
			<div class="col-sm-12">
					<hr>
					<p class="text-center">
						<small>Laget v&aring;ren 2016, som prosjektoppgave i MA-155 Statistikk ved UiA av Olav Andreas Lindekleiv</small>
					</p>
					<hr>
			</div>
		</div>
	</div>
	</body>
</html>